body {
    margin: 0;
}

/* メニューバー本体 */
#menu_bar {
    position: fixed;
    margin: 0;
    top: 0;
    width: 1270px;
    padding: 8px 5px 2px 5px;
    height: 75px;
    display: flex;
    background-color: #F8F2D0;
}

/* メニューバーの検索バー */
#menu_search {
    margin: 0 175px;
    width: 350px;
    height: 25px;
}

/* メニューバーの検索バーの左右埋め*/
#menu_fill {
    margin: 0 354px;
}

/* メニューバーのアイコン右揃え */
#menu_warp {
    margin-left: auto;
    margin-right: 50px;
    padding-right: 0;
}

/* メニューバーのカートアイコン */
#menu_cart {
    height: 40px;
    margin: 10px 25px 0 10px;
}

/* メニューバーのアカウントアイコン */
#menu_acc {
    height: 40px;
    margin: 10px 10px 0 25px;
}
/* ↑メニューバー系なので触らないでほしい */
/* ↓ここから下にcss書き足してってほしい */
/* できればcssそれぞれになんのcssか書いてくれると進捗が把握しやすい */

/* 検索結果の大枠div */
/*
#search_list {

}
*/

/* 検索結果の商品名 */
/*
#search_list_name {

}
*/

/* 検索結果の商品説明文(簡易版) */
/*
#search_list_description {

}
*/

/* 検索結果の画像表示の外枠pタグ */
/*
#search_list_img_p {

}
*/

/* 検索結果の画像表示のimgタグ */
/*
#search_list_img {

}
*/

/* 検索結果の値段 */
/*
#search_list_price {

}
*/

/* 検索結果の商品詳細行きボタン。
    こいつを商品を囲むような感じにできるとうれしい */
/*
#search_list_button {

}
*/

/* 検索結果が見つからなかった場合 */
/*
#search_fail {

}
*/


/* 商品詳細の商品名 */
/*
#detail_list {

}
*/

/* 商品詳細の商品名 */
/*
#detail_list_name {

}
*/

/* 商品詳細の商品説明文 */
/*
#detail_list_description {

}
*/

/* 商品詳細の画像表示の外枠pタグ */
/*
#detail_list_img_p {

}
*/

/* 商品詳細の画像表示のimgタグ */
/*
#detail_list_img {

}
*/

/* 商品詳細の値段 */
/*
#detail_list_price {

}
*/

/* 商品詳細の購入数入力の外枠pタグ */
/*
#detail_list_buynum_p {

}
*/

/* 商品詳細の購入数入力のinputタグ */
/*
#detail_list_buynum {

}
*/

/* 商品詳細のレビュー一覧の文字に対するdivタグ */
/*
#detail_review_list {

}
*/

/* 商品詳細のレビューの大枠div */
/*
#detail_review {

}
*/

/* 商品詳細のレビュー一覧のレビュータイトル */
/*
#detail_review_title {

}
*/

/* 商品詳細のレビュー一覧の5段階評価 */
/*
#detail_review_assessment {

}
*/

/* 商品詳細のレビュー一覧のレビュー本文 */
/*
#detail_review_sentence {

}
*/

/* 商品詳細のレビュー一覧のレビュー作成日 */
/*
#detail_review_createday {

}
*/

/* レビュー投稿ページに遷移するボタン */
/*
#detail_review_button {

}
*/


/* トップページの商品リストの大枠div */
/*
#top_list {

}
*/

/* トップページの商品リストの商品名 */
/*
#top_list_name {

}
*/

/* トップページの商品リストの商品詳細(簡易版) */
/*
#top_list_description {

}
*/

/* トップページの商品リストの画像表示の外枠pタグ */
/*
#top_list_img_p {

}
*/

/* トップページの商品リストの画像表示のimgタグ */
/*
#top_list_img {

}
*/

/* トップページの商品リストの値段 */
/*
#top_list_price {

}
*/

/* トップページの商品リストの商品詳細遷移ボタン
    これを商品リスト触ったときに遷移するくらい大きくしてほしい */
/*
#top_list_button {

}
*/