body {
    margin: 0;
}

    /* メニューバー本体 */
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 90px;
        background-color: #F8F2D0;
    }

    /*shopロゴ*/
    .menu_top{
        position: fixed;
        top: 12px;
        display: block;
    }
    
    /*検索バーの大きさ調整*/
    .search{
        text-align: center;
        padding-right: 20%;
    }
    
    /* メニューバーの検索バー */
    .menu_search {
        position: fixed;
        top: 12px;
        width: 220px;
    }

    /* メニューバーの検索バーのpタグ */
    #menu_search_p {
        position: fixed;
        min-width: 100%;
        text-align: center;
    }

    /* メニューバーの検索バーのinputタグ */
    #menu_search_input {
        height: 25px;
    }
    
    /* メニューバーのカートアイコン */
    .menu_cart {
        position: fixed;
        top: 15px;
        right: 150px;
        text-align: right;
    }

    /* メニューバーのアカウントアイコン */
    .menu_acc {
        position: fixed;
        top: 15px;
        right: 50px;
        text-align: right;
    }

/* ↑メニューバー系なので触らないでほしい */
/* ↓ここから下にcss書き足してってほしい */
/* できればcssそれぞれになんのcssか書いてくれると進捗が把握しやすい */

/*                                     */
/*              検索結果                */
/*                                     */

/* 検索結果の大枠div */
/*
#search_list {

}
*/

/* 検索結果の商品名 */
/*
#search_list_name {

}
*/

/* 検索結果の商品説明文(簡易版) */
/*
#search_list_description {

}
*/

/* 検索結果の画像表示の外枠pタグ */
/*
#search_list_img_p {

}
*/

/* 検索結果の画像表示のimgタグ */
#search_list_img {
    height: 80px;
}

/* 検索結果の値段 */
/*
#search_list_price {

}
*/

/* 検索結果の商品詳細行きボタン。
    こいつを商品を囲むような感じにできるとうれしい */
/*
#search_list_button {

}
*/

/* 検索結果が見つからなかった場合 */
/*
#search_fail {

}
*/

/*                                     */
/*              商品詳細                */
/*                                     */

/* 商品詳細の商品名 */
/*
#detail_list {

}
*/

/* 商品詳細の商品名 */
/*
#detail_list_name {

}
*/

/* 商品詳細の商品説明文 */
/*
#detail_list_description {

}
*/

/* 商品詳細の画像表示の外枠pタグ */
/*
#detail_list_img_p {

}
*/

/* 商品詳細の画像表示のimgタグ */
/*
#detail_list_img {

}
*/

/* 商品詳細の値段 */
/*
#detail_list_price {

}
*/

/* 商品詳細の購入数入力の外枠pタグ */
/*
#detail_list_buynum_p {

}
*/

/* 商品詳細の購入数入力のinputタグ */
/*
#detail_list_buynum {

}
*/

/* 商品詳細のレビュー一覧の文字に対するdivタグ */
/*
#detail_review_list {

}
*/

/* 商品詳細のレビューの大枠div */
/*
#detail_review {

}
*/

/* 商品詳細のレビュー一覧のレビュータイトル */
/*
#detail_review_title {

}
*/

/* 商品詳細のレビュー一覧の5段階評価 */
/*
#detail_review_assessment {

}
*/

/* 商品詳細のレビュー一覧のレビュー本文 */
/*
#detail_review_sentence {

}
*/

/* 商品詳細のレビュー一覧のレビュー作成日 */
/*
#detail_review_createday {

}
*/

/* レビュー投稿ページに遷移するボタン */
/*
#detail_review_button {

}
*/

/*                                     */
/*             レビュー投稿             */
/*                                     */

/* レビュー投稿ページの大枠div */
/*
.review_post {
    
}
*/

/* レビュー投稿ページのtitle(商品レビュー) */
/*
#review_goods_title {

}
*/

/* レビュー投稿ページの商品説明文 */
/*
#review_goods_description {
    
}
*/

/* レビュー投稿ページの総合評価のtitle(総合評価) */
/*
#review_assessment_title {
    
}
*/

/* レビュー投稿ページの総合評価の星表示の大枠div */
.review_assessment_star {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    font-size: 30px;
}

/* レビュー投稿ページの総合評価の星表示のradioボタン消し */
.review_assessment_star > input {
    display: none;
}

/* レビュー投稿ページの総合評価の星表示の未選択時 */
.review_assessment_star > label:before {
    content: "\2606";
    color: #f8e58c;
}

/* レビュー投稿ページの総合評価の星表示の選択時 */
.review_assessment_star > input:checked ~ label:before {
    content: "\2605";
    color: yellow;
    -webkit-text-stroke: 1px #f8e58c;
}

/* レビュー投稿ページのレビュータイトルのtitle(レビュータイトル) */
/*
#review_title_title {
    
}
*/

/* レビュー投稿ページのレビュータイトル */
/*
#review_title {
    
}
*/

/* レビュー投稿ページのレビューテキストのtitle(レビューを追加) */
/*
#review_sentence_title {
    
}
*/

/* レビュー投稿ページのレビューテキスト */
/*
#review_sentence {
    
}
*/

/* レビュー投稿ページのレビュー投稿ボタン */
/*
#review_post_button {
    
}
*/

/*                                     */
/*           レビュー投稿完了           */
/*                                     */

/* レビュー投稿完了ページの大枠div */
/*
#review_success {
    
}
*/

/* レビュー投稿完了ページのtitle(投稿完了) */
/*
#review_success_title {
    
}
*/

/* レビュー投稿完了ページのレビュー投稿処理結果(レビューを投稿しました。) */
/*
#review_success_text {
    
}
*/

/* レビュー投稿完了ページのトップページボタン(トップページへ) */
/*
#review_success_btn {
    
}
*/

/*                                     */
/*             トップページ             */
/*                                     */

/* トップページの商品リストの大枠div */
/*
#top_list {

}
*/

/* トップページの商品リストの商品名 */
/*
#top_list_name {

}
*/

/* トップページの商品リストの商品詳細(簡易版) */
/*
#top_list_description {

}
*/

/* トップページの商品リストの画像表示の外枠pタグ */
/*
#top_list_img_p {

}
*/

/* トップページの商品リストの画像表示のimgタグ */
#top_list_img {
    height: 80px;
}

/* トップページの商品リストの値段 */
/*
#top_list_price {

}
*/

/* トップページの商品リストの商品詳細遷移ボタン
    これを商品リスト触ったときに遷移するくらい大きくしてほしい */
/*
#top_list_button {

}
*/






/*                                     */
/*             カート一覧               */
/*                                     */

/* カート一覧の大枠div */
/*
#cart_list {

}
*/

/* カート一覧の商品名div */
/*
#cart_list_name {

}
*/

/* カート一覧の商品説明div */
/*
#cart_list_description {

}
*/

/* カート一覧の画像表示の外枠div */
/*
#cart_list_img_div {

}
*/

/* カート一覧の画像表示のimgタグ */
/*
#cart_list_img {

}
*/

/* カート一覧の値段div */
/*
#cart_list_price {

}
*/

/* カート一覧の購入数div */
/*
#cart_list_num {

}
*/

/* カート一覧の商品詳細遷移ボタンの外枠div */
/*
#cart_list_btn {

}
*/

/* カート一覧の商品詳細遷移ボタンのinput */
/*
#cart_list_button {

}
*/

/* カート一覧から商品をカート削除するボタンの外枠div */
/*
#cart_list_rem {

}
*/

/* カート一覧から商品をカート削除するボタンのinput */
/*
#cart_list_remove {

}
*/

/* カート一覧の注文ボタンのdiv */
/*
#cart_order_btn {

}
*/

/* カート一覧の注文ボタンのinput */
/*
#cart_order_button {

}
*/

/*                                     */
/*             注文手続き               */
/*                                     */

/* 注文手続きのカート一覧の大枠div */
/*
#order_cart_list {

}
*/

/* 注文手続きのカート一覧の商品名div */
/*
#order_cart_list_name {

}
*/

/* 注文手続きのカート一覧の商品説明div */
/*
#order_cart_list_description {

}
*/

/* 注文手続きのカート一覧の画像表示の外枠div */
/*
#order_cart_list_img_div {

}
*/

/* 注文手続きのカート一覧の画像表示のimgタグ */
/*
#order_cart_list_img {

}
*/

/* 注文手続きのカート一覧の値段div */
/*
#order_cart_list_price {

}
*/

/* 注文手続きのカート一覧の購入数div */
/*
#order_cart_list_num {

}
*/

/* 注文手続きの支払方法の大枠div */
/*
#payment {

}
*/

/* 注文手続きの支払方法のtitle(支払方法) */
/*
#payment_title {

}
*/

/* 注文手続きの支払方法のボタンのdiv(現金) */
/*
#payment_cash {

}
*/

/* 注文手続きの支払方法のボタンのdiv(クレジットカード) */
/*
#payment_credit {

}
*/

/* 注文手続きの支払方法のボタンのdiv(コンビニ決済) */
/*
#payment_convenience {

}
*/

/* 注文手続きの支払方法のボタンのdiv(電子決済) */
/*
#payment_electrical {

}
*/

/* 注文手続きの送り先入力の大枠div */
/*
#input_address {

}
*/

/* 注文手続きの送り先入力のtitle(送り先入力) */
/*
#input_address_title {

}
*/

/* 注文手続きの送り先入力の名前のtitle(名前：) */
/*
#input_address_name_title {

}
*/

/* 注文手続きの送り先入力の名前入力div */
/*
#input_address_name {

}
*/

/* 注文手続きの送り先入力の住所のtitle(住所：) */
/*
#input_address_address_title {

}
*/

/* 注文手続きの送り先入力の住所入力div */
/*
#input_address_address {

}
*/

/* 注文手続きの送り先入力の電話番号のtitle(電話番号：) */
/*
#input_address_tel_title {

}
*/

/* 注文手続きの送り先入力の電話番号入力div */
/*
#input_address_tel {

}
*/

/* 注文手続きの注文確定ボタンの外枠div(確定) */
/*
#order_submit {

}
*/

/*                                     */
/*              注文完了                */
/*                                     */

/* 注文完了の大枠div */
/*
#order_success {

}
*/

/* 注文完了のtitle(注文完了) */
/*
#order_success_title {

}
*/

/* 注文完了の完了文(商品注文が完了しました。･･･) */
/*
#order_success_text {

}
*/

/* 注文完了のトップページ遷移ボタン */
/*
#order_success_btn {

}
*/





/*                                     */
/*              ログイン                */
/*                                     */

/* ログインページの大枠div */
/*
#login {

}
*/

/* ログインページのtitle(ログイン) */
/*
#login_title {

}
*/

/* ログインページのメールアドレス入力のtitle(メールアドレス) */
/*
#login_email_title {

}
*/

/* ログインページのメールアドレス入力の外枠div */
/*
#login_email_input {

}
*/

/* ログインページのパスワード入力のtitle(パスワード) */
/*
#login_pword_title {

}
*/

/* ログインページのパスワード入力の外枠div */
/*
#login_pword_input {

}
*/

/* ログインページのログイン失敗時のみ表示されるエラー文(パスワード不一致) */
/*
#login_fail {

}
*/

/* ログインページのログインボタンの外枠div */
/*
#login_form_btn {

}
*/

/* ログインページの新規作成ボタンの外枠div */
/*
#login_create_account {

}
*/

/*                                     */
/*         アカウント新規作成           */
/*                                     */

/* アカウント新規作成ページの大枠div */
/*
#create_acc {

}
*/

/* アカウント新規作成ページのtitle(新規登録) */
/*
#create_acc_title {

}
*/

/* アカウント新規作成ページの名前のtitle(名前) */
/*
#create_acc_name_title {

}
*/

/* アカウント新規作成ページの名前入力の外枠div */
/*
#create_acc_name {

}
*/

/* アカウント新規作成ページのメールアドレスのtitle(メールアドレス) */
/*
#create_acc_mail_title {

}
*/

/* アカウント新規作成ページのメールアドレス入力の外枠div */
/*
#create_acc_mail {

}
*/

/* アカウント新規作成ページのメールアドレスのエラー文(メールアドレスが正しくありません) */
/*
#create_acc_mail_error {

}
*/

/* アカウント新規作成ページのパスワードのtitle(パスワード) */
/*
#create_acc_pass_title {

}
*/

/* アカウント新規作成ページのパスワード入力の外枠div */
/*
#create_acc_pass {

}
*/

/* アカウント新規作成ページのパスワード確認のtitle(パスワード確認) */
/*
#create_acc_pass2_title {

}
*/

/* アカウント新規作成ページのパスワード確認入力の外枠div */
/*
#create_acc_pass2 {

}
*/

/* アカウント新規作成ページのパスワードのエラー文(パスワードが一致しません) */
/*
#create_acc_pass_error {

}
*/

/* アカウント新規作成ページの住所のtitle(住所) */
/*
#create_acc_address_title {

}
*/

/* アカウント新規作成ページの住所入力の外枠div */
/*
#create_acc_address {

}
*/

/* アカウント新規作成ページの電話番号のtitle(電話番号) */
/*
#create_acc_tel_title {

}
*/

/* アカウント新規作成ページの電話番号入力の外枠div */
/*
#create_acc_tel {

}
*/

/* アカウント新規作成ページの新規登録ボタンの外枠div */
/*
#create_acc_button {

}
*/

/*                                     */
/*          アカウント作成完了           */
/*                                     */

/* アカウント作成完了ページの大枠div */
/*
#create_acc_success {

}
*/

/* アカウント作成完了ページのtitle(登録完了) */
/*
#create_acc_success_title {

}
*/

/* アカウント作成完了ページの表示文(アカウントの登録が完了しました。･･･) */
/*
#create_acc_success_text {

}
*/

/* アカウント作成完了ページのトップページ遷移ボタン */
/*
#create_acc_success_btn {

}
*/

/*                                     */
/*             アカウント               */
/*                                     */

/* アカウントページの大枠div */
/*
#account {

}
*/

/* アカウントページのtitle(会員情報) */
/*
#acc_title {

}
*/

/* アカウントページの基本情報のtitle(基本情報) */
/*
#acc_info_title {

}
*/

/* アカウントページの基本情報の名前表示div */
/*
#acc_info_name {

}
*/

/* アカウントページの基本情報の住所表示div */
/*
#acc_info_address {

}
*/

/* アカウントページの基本情報の電話番号表示div */
/*
#acc_info_tel {

}
*/

/* アカウントページのメールアドレスのtitle(基本情報) */
/*
#acc_mail_title {

}
*/

/* アカウントページのログアウトボタンの外枠div */
/*
#logout {

}
*/

/* アカウントページの変更ボタンの外枠div */
/*
#modify_acc {

}
*/

/*                                     */
/*      アカウント情報の変更･修正        */
/*                                     */

/* アカウント情報変更ページの大枠div */
/*
#modify_acc {

}
*/

/* アカウント情報変更ページのtitle(登録情報変更) */
/*
#modify_acc_title {

}
*/

/* アカウント情報変更ページの名前のtitle(名前) */
/*
#modify_acc_name_title {

}
*/

/* アカウント情報変更ページの名前入力の外枠div */
/*
#modify_acc_name {

}
*/

/* アカウント情報変更ページのメールアドレスのtitle(メールアドレス) */
/*
#modify_acc_mail_title {

}
*/

/* アカウント情報変更ページのメールアドレス入力の外枠div */
/*
#modify_acc_mail {

}
*/

/* アカウント情報変更ページのメールアドレスのエラー文(メールアドレスが正しくありません。) */
/*
#modify_acc_mail_error {

}
*/

/* アカウント情報変更ページのパスワードのtitle(パスワード) */
/*
#modify_acc_pass_title {

}
*/

/* アカウント情報変更ページのパスワード入力の外枠div */
/*
#modify_acc_pass {

}
*/

/* アカウント情報変更ページのパスワード確認のtitle(パスワード確認) */
/*
#modify_acc_pass2_title {

}
*/

/* アカウント情報変更ページのパスワード確認入力の外枠div */
/*
#modify_acc_pass2 {

}
*/

/* アカウント情報変更ページのパスワードのエラー文(パスワードが一致しません) */
/*
#modify_acc_pass_error {

}
*/

/* アカウント情報変更ページの住所のtitle(住所) */
/*
#modify_acc_address_title {

}
*/

/* アカウント情報変更ページの住所入力の外枠div */
/*
#modify_acc_address {

}
*/

/* アカウント情報変更ページの電話番号のtitle(電話番号) */
/*
#modify_acc_tel_title {

}
*/

/* アカウント情報変更ページの電話番号入力の外枠div */
/*
#modify_acc_tel {

}
*/

/* アカウント情報変更ページの変更確定ボタンの外枠div */
/*
#modify_acc_button {

}
*/
